{
  "openapi": "3.0.1",
  "info": {
    "title": "Data360.API",
    "description": "This API provides users access to metadata and data files for datasets within the World Bank's Data360 Data.",
    "contact": {
      "name": "Data360 Data Support",
      "email": "data@worldbank.org"
    },
    "license": {
      "name": "Creative Commons 4.0 by Attribution",
      "url": "https://creativecommons.org/licenses/by/4.0"
    },
    "version": "v1"
  },
  "servers": [
      {
        "url": "https://api.worldbank.org/data360",
        "description": "Production server"
      }
    ],
    "tags": [
      {
        "name": "Data360",
        "description": "Endpoints for data retrieval."
      },
      {
        "name": "Search",
        "description": "Endpoints for metadata and search functionality."
      }
    ],
  "paths": {
    "/data360/data": {
      "get": {
        "summary": "Retrieve data based on provided filters",
        "description": "Retrieves dataset or indicators data based on a range of query filters.",
        "tags": [
          "Data360"
        ],
        "parameters": [
          {
            "name": "DATABASE_ID",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "INDICATOR",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "REF_AREA",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "SEX",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "AGE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "URBANISATION",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "COMP_BREAKDOWN_1",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "COMP_BREAKDOWN_2",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "COMP_BREAKDOWN_3",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "TIME_PERIOD",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "FREQ",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "UNIT_MEASURE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "UNIT_TYPE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "UNIT_MULT",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "timePeriodFrom",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "timePeriodTo",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "BOND_TYPE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "TENOR_BUCKET",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ISSUER_TYPE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ISS_NAME",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ISIN",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "TENOR",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "OUTSTANDING",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "DEAL_SIZE",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "METRIC",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "CURRENCY",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "DATE_ISS",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "DATE_MAT",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "isLatestData",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "select",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Data360"
        ],
        "description": "Get Data",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Data360Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Data360Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Data360Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data360/disaggregation": {
      "get": {
        "tags": [
          "Data360"
        ],
        "description": "Get Disaggregation Data",
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicatorId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/data360/indicators": {
      "get": {
        "tags": [
          "Data360"
        ],
        "description": "Get Indicators",
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/data360/saveuseraction": {
      "post": {
        "tags": [
          "Data360"
        ],
        "description": "Endpoint to Save User Actions",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAction"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAction"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/data360/getuseraction": {
      "get": {
        "tags": [
          "Data360"
        ],
        "description": "Get User Actions",
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/data360/metadata": {
      "post": {
        "tags": [
          "Search"
        ],
        "description": "Get Meta Data",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/data360/searchv3": {
      "post": {
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryVector"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryVector"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQueryVector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Data360Request": {
        "type": "object",
        "properties": {
          "databasE_ID": {
            "type": "string",
            "nullable": true
          },
          "indicator": {
            "type": "string",
            "nullable": true
          },
          "reF_AREA": {
            "type": "string",
            "nullable": true
          },
          "sex": {
            "type": "string",
            "nullable": true
          },
          "age": {
            "type": "string",
            "nullable": true
          },
          "urbanisation": {
            "type": "string",
            "nullable": true
          },
          "comP_BREAKDOWN_1": {
            "type": "string",
            "nullable": true
          },
          "comP_BREAKDOWN_2": {
            "type": "string",
            "nullable": true
          },
          "comP_BREAKDOWN_3": {
            "type": "string",
            "nullable": true
          },
          "timE_PERIOD": {
            "type": "string",
            "nullable": true
          },
          "freq": {
            "type": "string",
            "nullable": true
          },
          "uniT_MEASURE": {
            "type": "string",
            "nullable": true
          },
          "uniT_TYPE": {
            "type": "string",
            "nullable": true
          },
          "uniT_MULT": {
            "type": "string",
            "nullable": true
          },
          "timePeriodFrom": {
            "type": "string",
            "nullable": true
          },
          "timePeriodTo": {
            "type": "string",
            "nullable": true
          },
          "isLatestData": {
            "type": "boolean"
          },
          "top": {
            "type": "integer",
            "format": "int32"
          },
          "skip": {
            "type": "integer",
            "format": "int32"
          },
          "format": {
            "type": "string",
            "nullable": true
          },
          "bonD_TYPE": {
            "type": "string",
            "nullable": true
          },
          "datE_ISS": {
            "type": "string",
            "nullable": true
          },
          "datE_MAT": {
            "type": "string",
            "nullable": true
          },
          "tenoR_BUCKET": {
            "type": "string",
            "nullable": true
          },
          "issueR_TYPE": {
            "type": "string",
            "nullable": true
          },
          "isS_NAME": {
            "type": "string",
            "nullable": true
          },
          "isin": {
            "type": "string",
            "nullable": true
          },
          "tenor": {
            "type": "string",
            "nullable": true
          },
          "obS_VALUE": {
            "type": "string",
            "nullable": true
          },
          "outstanding": {
            "type": "string",
            "nullable": true
          },
          "deaL_SIZE": {
            "type": "string",
            "nullable": true
          },
          "metric": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "select": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchQuery": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchQueryVector": {
        "type": "object",
        "properties": {
          "count": {
            "type": "boolean",
            "nullable": true
          },
          "facets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "orderBy": {
            "type": "string",
            "nullable": true
          },
          "select": {
            "type": "string",
            "nullable": true
          },
          "searchFields": {
            "type": "string",
            "nullable": true
          },
          "search": {
            "type": "string",
            "nullable": true
          },
          "top": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "skip": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "vectorFilterModeSearch": {
            "type": "string",
            "nullable": true
          },
          "vectorQueries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VectorQueryModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Threshold": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserAction": {
        "type": "object",
        "properties": {
          "indicator": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "datasetId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "VectorQueryModel": {
        "type": "object",
        "properties": {
          "vector": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "nullable": true
          },
          "fields": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "nullable": true
          },
          "k": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "threshold": {
            "$ref": "#/components/schemas/Threshold"
          }
        },
        "additionalProperties": false
      }
    }
  }
}